module.exports = ({
    getStatus: (function(item) {
        var data;
        switch (item.status) {
            case 0:
                data = '无效';
                break;
            case 1:
                data = '等待付款';
                break;
            case 2:
                data = '支付成功';
                break;
            case 3:
                switch (item.isRefund) {
                    case 0:
                        data = '待发货';
                        break;
                    case 1:
                        data = '申请退款中';
                        break;
                    case 2:
                        data = '退款成功';
                        break;
                };
                break;
            case 4:
                switch (item.isRefund) {
                    case 0:
                        data = '待收货';
                        break;
                    case 1:
                        data = '申请退款中';
                        break;
                    case 2:
                        data = '退款成功';
                        break;
                };
                break;
            case 5:
                switch (item.isRefund) {
                    case 0:
                        data = '待评价';
                        break;
                    case 1:
                        data = '申请退款中';
                        break;
                    case 2:
                        data = '退款成功';
                        break;
                };
                break;
            case 6:
                data = '交易完成';
                break;
            case 7:
                data = '待分享';
                break;
            case 8:
                data = '待开奖';
                break;
        };
        return (data)
    }),
    getNumPrice: (function(item) {
        var goods = item.goods;
        var goodNum = 0;
        for (var i = 0; i < goods.length; i++) {
            goodNum = goodNum + goods[((nt_0 = (i), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))].total
        };
        return ('共' + goodNum + '件商品 合计:¥' + item.billFee / 100)
    }),
    getGrayText: (function(item) {
        var text;
        switch (item.status) {
            case 1:
                text = "取消订单";
                break;
            case 3:
                text = "提醒发货";
                break;
            case 4:
                text = "查看物流";
                break;
            case 5:
                text = "查看物流";
                break;
            case 6:
                text = "删除订单";
                break;
            case 7:
                ;
            case 8:
                text = "提醒发货";
                break;
        };
        return (text)
    }),
    getRedText: (function(item, goodType) {
        var text;
        switch (item.status) {
            case 1:
                if (goodType == 1 && item.payType == 2) {
                    text = "付定金"
                } else {
                    text = "去付款"
                };
                break;
            case 3:
                text = "付尾款";
                break;
            case 4:
                text = "确认收货";
                break;
            case 5:
                text = "去评价";
                break;
            case 6:
                text = "联系售后";
                break;
        };
        return (text)
    }),
    isGrayShow: (function(item) {
        var isShow;
        switch (item.status) {
            case 0:
                isShow = false;
                break;
            case 1:
                isShow = true;
                break;
            case 2:
                isShow = false;
                break;
            case 3:
                isShow = true;
                break;
            case 4:
                if (item.deliverType == 1) {
                    isShow = true
                } else {
                    isShow = false
                };
                break;
            case 5:
                if (item.deliverType == 1) {
                    isShow = true
                } else {
                    isShow = false
                };
                break;
            case 6:
                isShow = true;
                break;
            case 7:
                ;
            case 8:
                isShow = false;
                break;
        };
        return (isShow)
    }),
    isRedShow: (function(item, goodType) {
        var isShow;
        switch (item.status) {
            case 0:
                isShow = false;
                break;
            case 1:
                isShow = true;
                break;
            case 2:
                isShow = false;
                break;
            case 3:
                if (goodType == 1 && item.payType == 2 && item.isReceive == 1 && item.isPay == 1) {
                    isShow = true
                } else {
                    isShow = false
                };
                break;
            case 4:
                isShow = true;
                break;
            case 5:
                isShow = true;
                break;
            case 6:
                isShow = true;
                break;
            case 7:
                ;
            case 8:
                isShow = false;
                break;
        };
        return (isShow)
    }),
});