module.exports = ({
    getDelivery: (function(item) {
        var delivery = '';
        if (item.freight == 0) {
            if (item.goods[(0)].deliveryType == 1) {
                delivery = '快递 免邮'
            } else {
                delivery = '商家配送 费用说明'
            }
        } else {
            if (item.freight == null) {
                if (item.goods[(0)].deliveryType == 1) {
                    delivery = '快递 免邮'
                } else {
                    delivery = '商家配送 费用说明'
                }
            } else {
                if (item.goods[(0)].deliveryType == 1) {
                    delivery = '快递 ¥' + (item.freight / 100)
                } else {
                    delivery = '商家配送 ¥' + (item.freight / 100)
                }
            }
        };
        return (delivery)
    }),
    getCartPrice: (function(cart) {
        var priceValue = 0;
        for (var i = 0; i < cart.goods.length; i++) {
            var good = cart.goods[((nt_3 = (i), null == nt_3 ? undefined : 'number' === typeof nt_3 ? nt_3 : "" + nt_3))];
            if (good.payType == 1) {
                priceValue = priceValue + good.salesPrice * good.num
            } else {
                if (good.depositRatio == 0) {
                    priceValue = priceValue + good.depositAmount * good.num
                } else {
                    priceValue = priceValue + good.salesPrice * good.num * good.depositRatio / 100
                }
            }
        };
        return ('¥' + priceValue / 100)
    }),
});